# MCP submodules

[submodule "erpnext.asisaga.com"]
	path = servers/erpnext.asisaga.com
	url = https://github.com/ASISaga/erpnext.asisaga.com

[submodule "linkedin.asisaga.com"]
	path = servers/linkedin.asisaga.com
	url = https://github.com/ASISaga/linkedin.asisaga.com

[submodule "reddit.asisaga.com"]
	path = servers/reddit.asisaga.com
	url = https://github.com/ASISaga/reddit.asisaga.com

[submodule "mind.asisaga.com"]
	path = servers/mind.asisaga.com
	url = https://github.com/ASISaga/mind.asisaga.com
